
# PHP specific
# /vendor/ // since my hosting doesn't support ssh to run composer install, allow git to upload vendor folder
/.env

# SQLite
# *.sqlite
# *.sqlite3

# VS Code
.vscode/

# Composer
composer.lock

# Node (if applicable)
/node_modules/


# .zip file
*.zip


